:root {
    --accent-color: #95E1D3;
    --accent-second-color: #F38181;
    --tittle-color: #333333;
    --text-color: #B6B6B6;
    --button-color: #FFFFFF;
}
:root {
    --main-font: "Montserrat", sans-serif;
    --second-font: "Roboto", sans-serif;
    --third-font: "Kaushan Script", sans-serif; 
}
body {
    color: var(--text-color);
    font-size: 15px;
    font-family: var(--main-font);
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.header {
    padding-top: 17px;
    padding-bottom: 12px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 30px;
}
.header-list {
    display: flex;
    gap: 55px;
}
.header-link {
    color: var(--accent-color);
    font-size: 14px;
}
.header-link:hover {
    color: var(--accent-second-color);
    border-bottom: 3px solid var(--accent-second-color);
    padding-bottom: 10px;
}
.header-link-special {
    color: var(--accent-second-color);
}
.header-link-special::after {
    content: "";
    display: flex;
    height: 3px;
    width: 100%;  
    margin-top: 10px; 
    background-color: var(--accent-second-color);
}
.services {
    padding-top: 68px;
}
.services-subtitle {
    font-family: var(--third-font);
    color: var(--tittle-color);
    font-size: 24px;
    padding-bottom: 20px;
    text-align: center;
}
.services-title {
    font-family: var(--main-font);
    color: var(--tittle-color);
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.services-title::after {
    content: "";
    display: flex;
    height: 4px;
    width: 60px;
    background-color: var(--accent-second-color);
    margin: 40px auto 65px;
}
.services-list {
    display: flex;
    row-gap: 100px;
    column-gap: 70px;
    padding-top: 65px;
    flex-wrap: wrap;
}
.services-item {
    flex-basis: calc((100% - 140px) /3);
    display: flex;
    gap: 18px;
}
.services-img {
    width: 37.79px;
    height: 37px;
}
.services-small_title {
    color: var(--tittle-color);
    font-family: var(--main-font);
    font-size: 14px;
    padding-bottom: 20px;
}
.services-text {
    color: var(--text-color);
    font-family: var(--second-font);
    font-size: 15px;
}
.team {
    padding-top: 100px;
}
.team-subtitle {
    font-family: var(--third-font);
    color: var(--tittle-color);
    font-size: 24px;
    padding-bottom: 17px;
    text-align: center;
}
.team-title {
    font-family: var(--main-font);
    color: var(--tittle-color);
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.team-title::after {
    content: "";
    display: flex;
    height: 4px;
    width: 60px;
    background-color: var(--accent-second-color);
    margin: 45px auto 36px;
}
.team-text {
    font-family: var(--second-font);
    color: var(--text-color);
    font-size: 15px;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 27px;
}
.team-list {
    display: flex;
    gap: 30px;
}
.team-name {
    font-family: var(--main-font);
    color: var(--tittle-color);
    text-align: center;
    padding-top: 30px;
}
.team-job {
    font-family: var(--second-font);
    color: var(--text-color);
    font-weight: 300;
    font-size: 15px;
    padding-top: 11px;
    text-align: center;
}
.team-container {
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 80px;
} 
.footer {
    padding-bottom: 10px;
    padding-top: 10px;
}
.footer-copirate {
    font-family: var(--main-font);
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}
.footer-link {
    color: var(--accent-second-color);
}
.footer-button {
    font-family: var(--main-font);
    font-weight: 700;
    color: var(--button-color);
    border: none;
    background-color: var(--accent-color);
    padding: 12px 38px 11px;
    font-size: 14px;
    line-height: 1;
}
.footer-input {
    padding: 12px 10px 11px;
    font-family: var(--second-font);
    color: var(--text-color);
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
    border: 1px solid var(--text-color);
    border-right: 0px;
    width: 230px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-form {
    display: flex;
}